<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Eliminar Reserva</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="login my-auto">

	<div id="app" class="d-flex" style="justify-content: center; align-items: center;">

	
		<div class="card container text-center px-0 py-0" style="margin: 15vh 0;">
			<div class="row">
				<div class="col-md-4 order-first">
					<div class="w-100 blue d-flex p-5 text-center" style="justify-content: center; align-items: center; height: 100%;">
						<div>
							<h2 class="color text-center mb-4 py-3">
								¡ELIMINAR RESERVA!
							</h2>
						</div>
					</div>
				</div>

				<div class="col-md-8 mt-4 pb-3 pl-5">
					
					<div class="imgcontainer mb-4">
						<img src="./img/UNEAT.jpg" alt="UNIVERSIDAD EUROPEA DEL ATLÁNTICO" class="avatar">
					</div>

					<!-- <p class="text-center" >
						Tu reserva ha sido guardada con exito 
					</p> -->

					<a class="btn btn-light center px-3 py-2" href='/'>Cancelar</a>
					<button class="btn btn-light center px-3 py-2" @click="deleteReserva">Eliminar Reserva</button>
				</div>
			</div>
		</div>

		<button type="button" id="no_reserva2" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" hidden>
		No se puede reservas
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Reserva</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body text-center">
					SU RESERVA SE HA ELIMINADO EXITOSAMENTE.
					<br>
					PUEDE CREAR UNA NUEVA DANDO CLICK EN EL BOTÓN QUE 
					<br>
					LO REDIRIJIRÁ A LA PÁGINA PRINCIPAL.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<a type="button" href="/" class="btn btn-primary">Login</a>
					</div>
				</div>
			</div>
		</div>

	</div>	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/formulario.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
</html>
