<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>ReservaExitosa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="login my-auto">

	<div id="app" class="d-flex" style="justify-content: center; align-items: center;">

	
		<div class="card container text-center px-0 py-0" style="margin: 15vh 0;">
			<div class="row">
				<div class="col-md-4 order-md-1 order-lg-1">
					<div class="w-100 blue d-flex p-5 text-center" style="justify-content: center; align-items: center; height: 100%;">
						<div>
							<h2 class="color text-center mb-4 py-3">
								<span class="fa fa-sing-in"></span> ¡RESERVA REALIZADA!
							</h2>

							
						</div>
					</div>
				</div>

				<div class="col-md-8 mt-4 pb-3 pl-5">
					
					<div class="imgcontainer mb-4">
						<img src="./img/UNEAT.jpg" alt="UNIVERSIDAD EUROPEA DEL ATLÁNTICO" class="avatar">
					</div>

					<p class="text-center" >
						Tu reserva ha sido guardada con exito 
					</p>

					<a class="btn btn-light center px-3 py-2" href='/'>Aceptar</a>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/formulario.js"></script>
</html>
